[submodule ".registry"]
	path = .registry
	url = https://github.com/popov-lab/popov-lab.r-universe.dev
	branch = HEAD
[submodule "bmm"]
	path = bmm
	url = https://github.com/venpopov/bmm
	branch = v0.4.0
[submodule "chkptstanr"]
	path = chkptstanr
	url = https://github.com/venpopov/chkptstanr
	branch = *release
