[submodule ".registry"]
	path = .registry
	url = https://github.com/popov-lab/popov-lab.r-universe.dev
	branch = HEAD
[submodule "Vmisc"]
	path = Vmisc
	url = https://github.com/venpopov/Vmisc
	branch = master
[submodule "bmm"]
	path = bmm
	url = https://github.com/venpopov/bmm
	branch = v0.5.1
[submodule "chkptstanr"]
	path = chkptstanr
	url = https://github.com/venpopov/chkptstanr
	branch = v0.2.0
